@use "../variables" as *;
@import 'swiper/scss';
@import 'swiper/scss/navigation';

.content {
    @include content;
}

.education, .cert-swiper {
  div {
    margin: 1em 0;
  }
}

.education-swiper, .cert-swiper {
  overflow-x: visible !important;

  .swiper-wrapper {
    overflow-x: visible !important;
  }

  .swiper-button-next, 
  .swiper-button-prev {
    color: $nav-foot-color;
  }
}
  