@use "../variables" as *;

.content {
    @include content;
    animation: slide-in 2s forwards;


    // slide-in animation
    @keyframes slide-in {
        0% {
            transform: translateX(-33em);
        }
        100% {
            transform: translateX(0em);
        }
    }
}

.education, .cert-swiper {
  div {
    margin: 1em 0;
  }
}

.swiper-wrapper {
  overflow-x: visible !important;
}

.education-swiper, .cert-swiper {
  overflow-x: visible !important;

  div.swiper-button-next, 
  div.swiper-button-prev {
    color: $nav-foot-color;
    margin-right: 1em;
    font-weight: bold;

    @media (max-width: 460px)
    {
      margin-top: 9em;
      margin-right: 0.7em;
      margin-left: 0.7em;
    }

    
    @media (min-width: 460px)
    {
      margin-top: 9em;
      margin-right: 0.7em;
      margin-left: 0.7em;
    }

    @media (min-width: 768px)
    {
      margin-top: 5em;
      margin-right: 0.7em;
      margin-left: 0.7em;
    }

    @media (min-width: 1000px)
    {
      margin-top: 3em;
      margin-right: 0.7em;
      margin-left: 0.7em;
    }
  }
}
  