@if (isEducation)
{
    <!-- If info is education, render Education version of Card-->
    <div class="education-card">
            <div class="institution-img">
                <img [src]="imgLink" alt="Logo of {{info?.institution}}">
            </div>
            <h2>{{info?.institution}}</h2>
            <hr>
            <div class="education-content">
                    <div class="education">
                        <h3>{{ info.qualification }}</h3>
                        <div>
                            <p>
                                Started:
                            </p>  
                            <span>{{ info.started }}</span>              
                            <p>
                                Finished:
                            </p>  
                            <span>{{ info.finished }}</span>              
                            <p>
                                Grade:
                            </p>
                            <span>{{ info.grade }}</span>
                        </div>
            </div>
        </div>
    </div>
}
@else if (isCertification)
{
    <!-- If info is certification, render Certification version of Card-->
    <div class="cert-card">
        <div class="institution-img">
            <img [src]="imgLink" alt="Logo of {{info?.institution}}">
        </div>
        <h2>{{info?.institution}}</h2>
        <hr>
        <div class="education-content">
                <div class="certification">
                    <h3>{{ info.title }}</h3>
                    <div>
                        <p>Skills Learned:</p>
                        <ul>
                            <!-- Display all skills -->
                            @for (skill of info.skills_learned; track $index)
                            {
                                <li>
                                    <fa-icon [icon]="faChevron"></fa-icon>{{ skill }}
                                </li>
                            }
                        </ul>
                    </div>
                </div>
        </div>
    </div>
}