<section id="about">
    <!-- HTML component for about -->
    @if (checker)
    {
        <!-- Profile pic -->
        <div id="picture-div">
            <img src="marco.jpg" id="picture" alt="Image of me" priority placeholder/>
        </div>
    
        <!-- About section -->
        <div id="about-div">
            <h1 id="title">Hi, I'm Marco!</h1>
    
            <p>
                {{ this.about }}
            </p>
        
            <!-- CV downloader -->
            <a href="" download>
                <button class="button">Get my CV!</button>
            </a>
        </div>
    }
    @else
    {
        <!-- If something goes wrong with JSON, throw error-->
        <app-error-success-card></app-error-success-card>
    }
</section>