<section id="about">
    <!-- HTML component for about -->
    @if (checker)
    {
        <!-- Profile pic -->
        <div id="picture-div">
            <img [src]="pic" id="picture" alt="Image of me" fetchpriority="high"/>
        </div>
    
        <!-- About section -->
        <div id="about-div">
            <h1 id="title">Hi, I'm Marco!</h1>
    
            <p>
                {{ this.about }}
            </p>
        
            <!-- CV downloader -->
            <a href="marcooppel_cv.pdf" download rel="noopener" type="application/pdf">
                <button class="button">Get my CV!</button>
            </a>
        </div>

        <!-- Skills section -->
        <div id="skills-div">
            <h2>Skills</h2>

            <div class="skills-container">
                <div class="skills-card">
                    <h3>Languages</h3>
                    <div class="skills-list">
                        @for (lang of languageSkills; track lang.name) {
                            <app-skill-card [skill]="lang" />
                        }
                    </div>
                </div>

                <div class="skills-card">
                    <h3>Frameworks/Libraries</h3>
                    <div class="skills-list">
                        @for (fw of frameworkSkills; track fw.name) {
                            <app-skill-card [skill]="fw" />
                        }
                    </div>
                </div>

                <div class="skills-card">
                    <h3>Soft Skills</h3>

                    <ul>
                        @for (skill of softSkills; track $index) 
                        {
                            <li>
                                {{ skill }}
                            </li>
                        }
                    </ul>
                </div>

            </div>
        </div>
    }
    @else
    {
        <!-- If something goes wrong with JSON, throw error-->
        <app-error-success-card></app-error-success-card>
    }
</section>