.result-card {
    border-radius: 0.6em;
    padding: 1em;
    width: 38%;
    color: white;

    fa-icon {
        display: block;
        font-size: 2em;
    }

    @media (min-width: 768px)
    {
        width: 60%;
    }
}

.result-positive {
    background-color: #4CAF50;
}

.result-negative {
    background-color: #F44336;
}