<section id="projects">
    <div class="content">
        <!-- Show content when checker is true -->
        @if (checker) {
            <!-- HTML component for projects-->
            <div id="project-div">
                <h1>Projects</h1>
            </div>

            <!-- For every project, load a Project component -->
            <div id="project-container">
                @for (project of projects?.(); track $index)
                {
                    <project [project]="project" />
                }
            </div>
        }
        
        <!-- Show error card if needed -->
        @if (errorOccurred) {
            <app-error-success-card></app-error-success-card>
        }
    </div>
</section>