@use "../variables" as *;

.content {
    @include content;
    animation: slide-in 2s forwards;


    // slide-in animation
    @keyframes slide-in {
        0% {
            transform: translateX(-33em);
        }
        100% {
            transform: translateX(0em);
        }
    }
}

#project-div {
    margin: 0.5em 0 1em 0;
}

#project-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.7em;

    @media (max-width: 480px)
    {
        grid-template-columns: auto;
    }
}