@use "../variables" as *;

#contact {
    padding-bottom: 3em;
}

.button {
    @include button-style;
    width: 100%;
    margin-top: 1em;

    @media (min-width: 767px) and (max-width: 1001px)
    {
        width: 25%;
    }

    @media (min-width: 1000px)
    {
        width: 20%;
    }
}

.content {
    @include content;
}

#contact-div {
    margin: 0.5em 0 1em 0;
}

#contact-me {
    margin-top: 2em;
}

.form-input {
    padding-bottom: 1.3em;
}

input[type="text"], input[type="email"] {
    padding: 0.6em;
    border-radius: 0.6em;
    border: solid $button-border 0.3em;
    display: block;
    width: 86%;

    @media (min-width: 480px) and (max-width: 767px)
    {
        width: 95%;
    }

    @media (min-width: 1000px)
    {
        width: 60%;
    }

    &.ng-invalid.ng-touched {
        border: 0.3em solid #F44336;
    }
}

textarea {
    padding: 0.6em;
    border-radius: 0.6em;
    border: solid $button-border 0.3em;
    display: block;
    width: 86%;

    @media (min-width: 480px) and (max-width: 767px)
    {
        width: 93%;
    }

    @media (min-width: 1000px)
    {
        width: 60%;
    }

    &.ng-invalid.ng-touched {
        border: 0.3em solid #F44336;
    }
}

.form-result {
    border-radius: 0.6em;
    padding: 1em;
    width: 38%;
    color: white;

    fa-icon {
        display: block;
        font-size: 2em;
    }
}

.result-positive {
    background-color: #4CAF50;
}

.result-negative {
    background-color: #F44336;
}