<section id="contact">
    <div class="content">
        <div id="contact-div">
            <h1>Contact Me</h1>
    
            <p>
                Use the form below to send me a message whether it is an inquiry or simply business-related!
            </p>
        </div>
    
        <form id="contact-me" name="contact" [formGroup]="contact" (ngSubmit)="onSubmit()">
            <div class="form-input">
                <label>Name:</label>
                <input type="text" name="name" formControlName="name" placeholder="John/Jane Doe"/>
            </div>        
            
            <div class="form-input">
                <label>Email:</label>
                <input type="text" name="email" formControlName="email" placeholder="joesy@mail.doe"/>
            </div>        
            
            <div class="form-input">
                <label>Message:</label>
                <textarea rows="10" cols="5" name="message" formControlName="message" placeholder="Your message here..."></textarea>
            </div>

            <div class="form-result" [style.display]="clicked ? 'block' : 'none'">

            </div>
    
            <button type="submit" class="button">Submit</button>
        </form>
    </div>
</section>