<header>
    <!-- Desktop nav -->
    <nav class="desktop-nav">
        <!-- Home link -->
        <a routerLink="">
            <img src="name_logo.svg" alt="Font-style logo" fetchpriority="high"/>
        </a>

        <!-- Nav links -->
        <ul>
            <li routerLink="education" class="nav-link">Education</li>
            <li routerLink="projects" class="nav-link">Projects</li>
            <li routerLink="services" class="nav-link">Services</li>
            <button class="button-style" routerLink="contact">Contact Me!</button>
        </ul>
    </nav>

    <!-- Mobile nav -->
    <nav class="mobile-nav">
        <!-- Home link -->
        <a routerLink="">
            <img src="name_logo.svg" alt="Font-style logo" fetchpriority="high"/>
        </a>

        <!-- Nav hamburger button -->
        <div class="nav-menu-button" (pointerdown)="openNavModal()">
            <fa-icon [icon]="faBars"></fa-icon>
        </div>
    </nav>
</header>