@use "../../variables" as *;

.ng-fa-icon {
    color: $nav-foot-color;
    @include nav-link;
}

.project {
    background-color: $base-text-color;
    color: $nav-foot-color;
    border-radius: 2em;
    margin: 0.5em 0em;
    font-size: 0.65em;
    padding: 1em;

    @media (min-width: 350px) and (max-width: 400px)
    {
        aspect-ratio: 1/1.1;
    }

    @media (min-width: 480px) and (max-width: 600px)
    {
        aspect-ratio: 1/2.1;
    }
    
    @media (min-width: 601px) and (max-width: 700px)
    {
        aspect-ratio: 1/1.3;
    }
    

    .example {
        width: 50%;
        float: left;
        margin-right: 1em;
    }
}

img {
    margin-right: 1em;
    width: 100%;
    aspect-ratio: 1/2;
    border-radius: 1em;

    @media (min-width: 350px) and (max-width: 400px)
    {
        aspect-ratio: 1/1.5;
    }


    @media (min-width: 401px) and (max-width: 480px)
    {
        aspect-ratio: 1/2;
    }

    @media (min-width: 480px) and (min-width: 800px)
    {
        aspect-ratio: 1/2;
    }

    @media (min-width: 800px) and (max-width: 1200px)
    {
        aspect-ratio: 1/1.5;
    }

    @media (min-width: 1200px) and (max-width: 1500px)
    {
        aspect-ratio: 1/1;
    }

    @media (min-width: 1500px) and (max-width: 1700px)
    {
        aspect-ratio: 1/0.8;
    }

    @media (min-width: 1700px) and (max-width: 1900px)
    {
        aspect-ratio: 1/1;
    }

    @media (min-width: 1900px)
    {
        aspect-ratio: 1/0.7;
    }
}

.demo {
    padding-top: 1em;
    a {
        @include nav-link;
            font-weight: bold;
            text-decoration: none;
        }
    // &: {
    //     color: $nav-foot-color;
    // }
}

.project-description {
    margin-top: 0.5em;
}

.project-stack {
    margin-top: 0.5em;

    ul {
        li {
            fa-icon {
                padding-right: 1.3em;
                overflow-y: hidden;
            }
        }
    }
}