@use "../variables" as *;

.content {
    @include content;
}

.upwork {
    @include button-style;
    background-color: #178928;
    margin: 0.5em 0 0 0.5em;
    width: 90%;
    a {
        text-decoration: none;
        color: $nav-foot-color;
    }
    
    fa-icon {
        font-size: 1.3em;
    }

    @media (min-width: 360px)
    {
        width: 85%;
    }

    @media (min-width: 768px)
    {
        width: 82%;
    }

    @media (min-width: 1070px)
    {
        width: 84%;
    }

    @media (min-width: 1136px)
    {
        width: 83%;
    }

    @media (min-width: 1450px)
    {
        width: 82.5%;
    }
}

.service-container {
    margin-top: 2em;
    margin-bottom: 1em;
}