@use "../variables" as *;

.content {
    @include content;
}

.upwork {
    @include button-style;
    background-color: #178928;
    margin: 0.5em 0 0 0.5em;
    width: 90%;

    fa-icon {
        font-size: 1.3em;
    }
}

.service-container {
    margin-top: 2em;
    margin-bottom: 1em;
}