/* You can add global styles to this file, and also import other style files */
@use "app/variables" as *;
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Hind:wght@300;400;500;600;700&family=Oswald:wght@200..700&display=swap');

html, body {
    height: 100%;
    margin: 0;
}

.nav-showtime {
    display: block;
}

header, footer, nav {
    background-color: $nav-foot-color;
    color: $base-text-color;
}

.component {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: $base-back-color;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    position: inherit;
    width: 100%;
}

// .mobile-nav-backdrop {
//     background-color: black;
//     z-index: 1;
//     position: absolute;
//     top: 0;
//     width: 50%;
//     height: 100%;
//     float: inherit;
//     opacity: 0.5;
//     right: 0;
// }

section, #nav-modal  {
    background-color: $base-back-color;
    color: $base-text-color;
    overflow-y: hidden;
    padding-bottom: 10em;
    padding-top: 2em;
}

* {
    font-family: "ABeeZee", sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1 {
    font-family: "Oswald", sans-serif;
    font-weight: lighter;
    font-size: 2.25em;

    @media (min-width: 766px)
    {
        font-size: 3em;
    }
}

h2, h3, h4, h5, h6 {
    font-family: "Hind", sans-serif;
    font-weight: lighter;
}
