/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Hind:wght@300;400;500;600;700&family=Oswald:wght@200..700&display=swap');

$base-text-color: #81a4cd;
$base-back-color: #003554;
$nav-foot-color: #051923;

header, footer, nav {
    background-color: $nav-foot-color;
}

section {
    background-color: $base-back-color;
    height: 100vh;
}

* {
    font-family: "ABeeZee", sans-serif;
    color: $base-text-color;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

h1 {
    font-family: "Oswald", sans-serif;
}

h2, h3, h4, h5, h6 {
    font-family: "Hind", sans-serif;
}