/* You can add global styles to this file, and also import other style files */
@use "app/variables" as *;
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Hind:wght@300;400;500;600;700&family=Oswald:wght@200..700&display=swap');


header, footer, nav {
    background-color: $nav-foot-color;
}

section {
    background-color: $base-back-color;
    height: 100vh;
}

* {
    font-family: "ABeeZee", sans-serif;
    color: $base-text-color;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1 {
    font-family: "Oswald", sans-serif;
    font-weight: lighter;
    font-size: 2.25em;

    @media (min-width: 766px)
    {
        font-size: 3em;
    }
}

h2, h3, h4, h5, h6 {
    font-family: "Hind", sans-serif;
}
