@use "../variables" as *;

button {
    @include button-style;
    width: 90%;
    margin-left: 0.7em;

    @media (min-width: 600px)
    {
        width: 95%;
    }
}

#close > div {
    font-size: 2.5em;
    right: 0.4em;
    position: absolute;
    @media (min-width: 375px) and (max-width: 480px)
    {
        right: 0.4em;
    }
    @media (min-width: 481px) and (max-width: 550px)
    {
        right: 0.4em;
    }
    @media (min-width: 551px)
    {
        right: 0.4em;
    }
}

#nav-modal {
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: fixed;

    animation: slide-in 2s forwards;


    // slide-in animation
    @keyframes slide-in {
        0% {
            transform: translateX(-33em);
        }
        100% {
            transform: translateX(0em);
        }
    }

    @media (min-width: 800px)
    {
        display: none;
    }
}

.closing {
    animation: slide-out 2s;


    // slide-in animation
    @keyframes slide-out {
        0% {
            transform: translateX(0em);
        }
        100% {
            transform: translateX(-33em);
        }
    }
}

#menu {
    margin-top: 6.5em;
    font-size: 1.3em;
    li {
        margin-bottom: 4em;
        margin-top: 0.5em;
        margin-left: 1em;
        border-bottom: $base-text-color 1px solid;
        margin-right: 1em;
        padding-bottom: 0.5em;
        
        span {
            right: 1.2em;   
            position: absolute;
            font-size: 1.1em;

            @media (max-width: 240px)
            {
                display: none;
            }
        }
    }
}