    <div id="nav-modal" [@slidingNavAnimation]="'display'">
            <div id="close">
                <div (pointerdown)="close()">
                    <fa-icon [icon]="faClose"></fa-icon>
                </div>
            </div>

            <ul id="menu">
                <li (pointerdown)="navNavigation('home')" [tabIndex]="-1">
                    Home 
                    <span>
                        <fa-icon [icon]="faIndicator"></fa-icon>
                    </span>
                </li>
                <li  (pointerdown)="navNavigation('education')" [tabIndex]="-1">
                    Education 
                    <span>
                        <fa-icon [icon]="faIndicator"></fa-icon>
                    </span>
                </li>
                <li  (pointerdown)="navNavigation('projects')" [tabIndex]="-1">
                    Projects 
                    <span>
                        <fa-icon [icon]="faIndicator"></fa-icon>
                    </span>
                </li>
                <li (pointerdown)="navNavigation('services')" [tabIndex]="-1">
                    Services 
                    <span>
                        <fa-icon [icon]="faIndicator"></fa-icon>
                    </span>
                </li>

                <button (pointerdown)="navNavigation('contact')" [tabIndex]="-1">Contact Me!</button>
            </ul>
    </div>